{{ define "main" }}
{{ $invitelink := relref . "invite"  }}
{{ $setuplink := relref . "setup"  }}
{{ $startlink := relref . "start"  }}

<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}
        Run sprints for your writing group. Spend time together writing your own thing. Sprinto is a bot by Pengo Wray.
      </p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{$invitelink | safeURL}}" role="button">Invite Sprinto</a>
      <p class="meta">Add to your Discord server. It's free.</p>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Get focused. Get in the flow.</h2>
        <p>Start a sprint. Stay focused for 15 minutes (or an hour). Repeat.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Bring Writers Together</h2>
        <p>Whether your Discord community has professional authors, fanfiction writers, students, or a nanowrimo group, Sprinto gives you a reason to work on your own thing, together.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Sprinting on 51,600 Discord servers</h2>
        <p>On Discord since 2018. Over 30k monthly users.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Easy for everyone to use</h2>
        <p>Sprinting is easy to start</p>
        <p>Just /sprint to start a sprint and follow the directions.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Flexible usage</h2>
        <p>Find a way to use Sprinto to suite your style.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Community supported</h2>
        <p>Keeps running and improving thanks to people like you. Support Sprinto's developer on {{ .RenderString "[Patreon](https://patreon.com/pengowray) or [Ko-fi](https://ko-fi.com/pengowray)" }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
