/** Custom styles */

[data-dark-mode] .gg {
    background-color: #383a40;
}

.gg {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* overflow-x: hidden; */
    /* max-height: 50vh; */
    border-radius: 8px;
    vertical-align: baseline;
    margin: 14px;
    padding: 14px;
    background-color: #ebedef;
    text-align: left;
}

.gg-icon-outer {
    outline-style: none;
    padding: 10px 16px;
}

.gg-icon {
    border-radius: 50%;
}

[data-dark-mode] .gg-options {
    background-color: rgb(17, 18, 20);
}

.gg-options {
    border-color: rgb(0, 120, 215);
    border-width: 0.733333px;
    background-color: rgb(237, 239, 232);
    border-radius: 4px;
    border-style: solid;
    line-height: 22px;
    margin-top: 6px;
    max-width: calc(100% - 30px);
    padding: 4px;
}

[data-dark-mode] .gg-options-key {
    background-color: rgb(17, 18, 20);
}

.gg-options-key {
    background-color: rgb(237, 239, 232);
    padding: 8px 8px 2px 8px;
    border-radius: 0;
    border-width: 0;
}

[data-dark-mode] .gg-options-val {
    background-color: #232428;
}

.gg-options-val {
    background-color: rgb(255, 255, 255);
    padding: 8px 8px 2px 8px;
    border-radius: 0;
    border-width: 0;
}

[data-dark-mode] .atsprinto {
    color: #d5d9ef;
    background: #424676;
}

.atsprinto {
    color: #424676;
    background: #d5d9ef;
}

.hidden {
    font-size: 0;
}

[data-dark-mode] .gg-role {
    color: #f1c40f;
    background: #4b483b;
}

.gg-role {
    color: #9e8007; // darker than actual for added visibility 
    background: #fcf2d4;
}

.tag {
    // via copilot
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    padding: 0 6px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: #b6aaa8;
    color: #163851;
    margin: 2px 4px 4px 0;
}

[data-dark-mode] .tag {
    color: #b6aaa8; // color: #fff;
    background-color: #163851;
}

/* Tooltip container */
.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

[data-dark-mode] .tooltip2 {
    border-bottom: 1px dotted white;
}

/* Tooltip text */
.tooltip2 .tooltiptext2 {
    text-transform: none;
    font-weight: 400;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 999999;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

[data-dark-mode] .tooltip2 .tooltiptext2 {
    background-color: #383a40;
    color: #fff;
}

/* Tooltip arrow */
.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

[data-dark-mode] .tooltip2 .tooltiptext2::after {
    border-color: #383a40 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}